<template>
  <div class="container">
    <h2>R0N1N CHRONICLES</h2>
    <div>
      <vs-alert
        title="Welcome"
        style="max-width: 500px; margin: 10px auto 0"
        active="true"
        color="dark"
        class="mb-3"
      >
        The tests of graphcms blog More to be done on this later
      </vs-alert>
    </div>
    <div>
      <vs-row>
        <vs-col vs-lg="3" vs-sm="6" vs-xs="12" style="margin: 2rem auto">
          <vs-card actionable>
            <div slot="header">
              <h3>Hello world !</h3>
            </div>
            <div slot="media">
              <img src="../assets/ronin.jpg" />
            </div>
            <div class="mb-2" style="font-size: 1rem">
              <h6 class="mb-2">23<sup>rd</sup> oct 2020</h6>
              Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet,
              consectetur ipsum dolor sit amet, consectetur adipiscing elit
            </div>
            <vs-button style="margin-top: 1rem" color="danger" type="filled"
              >Read More</vs-button
            >
          </vs-card>
        </vs-col>
      </vs-row>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
