<template>
  <div>
    <div v-if="loading"></div>
    <div v-else>
      <h1>{{post.title}}</h1>
      <h4>{{post.summary}}</h4>
    </div>
    <div v-html="post.content.html"></div>
    <vs-divider>
    </vs-divider>
  </div>

</template>

<script>
import { gql } from "graphql-request";
export default {
  data: () => ({
    post: {},
    loading: true,
  }),
  async mounted() {
    //const ID = this.$route.params.id;
    const data = await this.$graphcms.request(
      gql`
          query getPost($id: ID){
            post(where: { id: $id}) {
            id
            title
            summary
            content {
              html
              text
            }
           }
          }
      `,
      {
        id: this.$route.params.id,
      }
    );
    this.loading = false;
    this.post = data.post;
    },
  }

</script>

<style scoped>

</style>
