<template>
  <div>
    <vs-row vs-justify="center" v-if="posts.length">
      <vs-col
        type="flex"
        vs-justify="center"
        vs-align="center"
        vs-w="4"
        vs-sm="8"
        v-for="post in posts"
        :key="post.id"
      >
        <router-link
          :to="{ name: 'Post', params: { id: post.id } }"
          class="mr-2"
          
        >
          <vs-card>
            <div slot="header">
              <h3>
                {{ post.title }}
              </h3>
            </div>
            <div>
              <p>{{ post.summary }}</p>
            </div>
          </vs-card>
        </router-link>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
import { gql } from "graphql-request";
export default {
  data: () => ({
    posts: [],
    loading: true,
    errors: [],
  }),
  async mounted() {
    const data = await this.$graphcms.request(
      gql`
        {
          posts {
            id
            title
            summary
          }
        }
      `
    );
    this.errors = data.errors;
    this.loading = false;
    this.posts = data.posts;
    this.$vs.notify({
      title: "Posts",
      text: "Successfully loaded",
      color: "primary",
      time: 2000,
      position: "bottom-center",
    });
  },
};
</script>

<style scoped>
.con-vs-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
</style>
