<template>
  <vs-row vs-justify="center" v-if='posts.length'>
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="4" vs-sm="8" v-for='post in posts' :key="post.id">
      <vs-card>
        <div slot="header">
          <h3>
            {{post.title}}
          </h3>
        </div>
        <div>
          <p v-html='post.content.html'></p>
        </div>
        <div slot="footer">
          <vs-row vs-justify="flex-end">
            <vs-button class="mr-2" type="gradient" color="danger"></vs-button>
            <vs-button class="mr-2" color="primary"></vs-button>
            <vs-button color="rgb(123,80,180)" color-text="rgb(50,50,50)"></vs-button>
          </vs-row>
        </div>
      </vs-card>
    </vs-col>
  </vs-row>

</template>

<script>
export default {
  props: ["posts"],
};
</script>

<style scoped>
.con-vs-card:hover{
  transform: scale(1.1);
}
</style>

 