<template>
  <div class="container">
    <Another :posts='posts' />
  </div>
</template>

<script>
import { gql } from "graphql-request";
export default {
  data: () => ({
    posts: [],
    loading: true,
    errors: [],
  }),
  async created() {
    const data = await this.$graphcms.request(
      gql`
        {
          posts {
            id
            title
            summary
            content {
              html
              text
            }
          }
        }
      `
    );
    this.errors = data.errors;
    this.loading = false;
    this.posts = data.posts;
  },
};
</script>

<style scoped>
</style>