<template>
  <div>
    <vs-navbar
      v-model="activeItem"
      class="nabarx"
      type="fund"
      active-text-color="rgba(39, 100, 191, 1)"
      color="rgb(218, 211, 211)"
    >
      <div slot="title">
        <vs-navbar-title> Navbar </vs-navbar-title>
      </div>
      <vs-navbar-item index="0">
        <router-link to="/">Home</router-link>
      </vs-navbar-item>
      <vs-navbar-item index="1">
        <router-link to="/posts">Posts</router-link>
      </vs-navbar-item>
      <vs-navbar-item index="2">
        <router-link to="/about">About</router-link>
      </vs-navbar-item>
    </vs-navbar>
  </div>
</template>

<script>
export default {
  data: () => ({
    activeItem: 0,
  }),
};
</script>

<style scoped></style>
