<template>
  <div id="app">
    <TheNavbar />
    <div style="margin-top: 2rem"></div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

a {
  font-size: 1rem;
  font-weight: 600;
}
</style>
